.header
{
    background-color: white;
    position:fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    
}
.header>div>img
{
    height: 40px;
}
.header>svg
{
    position: fixed;
    left: 20px;
}
